@import url(global.css);
@import url(header.css);
@import url(footer.css);


.blog-hero {
    height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                      url("../img/hero-blog-mobile.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.hero-content {
    
    width: 312px;
    margin: 0 auto;
}

.hero-line {
    width: 180px;
    height: 4px;
    background-color: var(--secondary-color);
    margin: 16px 0;
}

.hero-title {
    color: var(--text-secondary-color);
    font-size: 40px;
}

.hero-description {
    color: var(--text-secondary-color);
    font-size: 20px;
}

/* IMAGENS DO POST */
.post-image {
    width: 100%;
    margin: 24px 0;
}

.post-block {
    margin-bottom: 48px;
}

.post-image-bg {
    width: 312px;
    height: 360px; 
    background-size: cover;
    background-position: center;
    margin: 24px 0;
}

.image-restaurante {
    background-image: url("../img/Tokyo-blog-restaurante-mobile.jpg");
}
.image-ponte {
    background-image: url("../img/Tokyo-blog-ponte-mobile.jpg");
}

@media screen and (min-width: 768px) {
    .blog-hero {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                          url("../img/hero-blog-tablet.png");
    }

    .hero-content {
        width: 656px; 
    }

    .post-block-flex {
        display: flex;
        gap: 32px;
        align-items: flex-start;
        margin-bottom: 48px;
    }

    .post-block-flex .post-text {
        flex: 1;
    }

    .post-block-flex .post-image {
        width: 312px; 
        margin: 0;
    }

    .post-block-flex {
        display: flex;
        gap: 32px;
        align-items: center;
    }

    .image-restaurante {
        background-image: url("../img/Tokyo-blog-restaurante-tablet.jpg");
        margin: 0;
    }

    .image-ponte {
        width: 648px;
        height: 300px;
        background-image: url("../img/Tokyo-blog-ponte-tablet.jpg");
    }
}


/* DESKTOP (1024px) */
@media screen and (min-width: 1024px) {
    .blog-hero {
        height: 540px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                          url("../img/hero-blog-desktop.jpg");
    }
    .hero-content {
        width: 900px;
    }

    .image-restaurante {
      width: 588px;
      height: 360px;
        background-image: url("../img/Tokyo-blog-restauranre-desktop.jpg");
    }
    .image-ponte {
        width: 100%;
        background-image: url("../img/Tokyo-blog-ponte-desktop.jpg");
    }
}