@import url(global.css);
@import url(header.css);
@import url(footer.css);

.blog-hero {
  width: 100%;
  height: 460px;
  display: flex;
  align-items: center; 
  justify-content: flex-start; 

  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
                    url("../img/hero-blog-mobile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-content-container {

  padding: 0 24px;
  text-align: left;
  max-width: 100%;
}

.hero-title {
  color: var(--text-secondary-color);
  font-size: 48px; 
  font-weight: var(--title-weight);
  text-transform: none; 
  margin: 0;
}

.hero-line {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color); 
  margin: 16px 0; 
}

.hero-description {
  color: var(--text-secondary-color);
  font-size: 20px;
  line-height: 1.4;
  font-weight: var(--text-weight);
  max-width: 312px; 
}

@media screen and (min-width: 768px) {
  .blog-hero {
    height: 620px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
                      url("../img/hero-blog-tablet.png");
  }

  .hero-content-container {
    padding-left: 60px;
    height: 303px;
  }

  .hero-title {
    font-size: 56px;
  }

  .hero-description {
    font-size: 32px;
    max-width: 579px;
    height: 192px;
  }
}

@media screen and (min-width: 1024px) {
  .blog-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
                      url("../img/hero-blog-desktop.jpg");
  }

  .hero-content-container {
    padding-left: 120px;
    
  }

  .hero-description {
    max-width: 600px;
  }
}

