.categories .section-title {
  width: 312px;
  margin: 0 auto;
  padding-top: 88px;
}

.categories-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 64px;
}

.categories-cards a.card {
  background-color: var(--background-secondary-color);
  width: 312px;
  height: 220px;
  padding: 24px;
  box-sizing: border-box;
  border-radius: 16px;
  text-align: center;
  text-decoration: none;
  color: var(--text-primary-color);
}

.categories-cards a.card h3 {
  font-size: 28px;
  font-weight: var(--title-weight);
}

.categories-cards a.card img {
  width: 80px;
  height: 80px;
}

@media screen and (min-width: 768px) {
  .categories .section-title {
    width: 100%;
  }

  .categories-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    margin: 0 auto 64px auto;
    max-width: 1200px;
  }

  .categories-cards a.card {
    width: calc(50% - 16px);
    max-width: 312px;
  }
}

@media screen and (min-width: 1024px) {
  .categories-cards a.card {
    width: calc(25% - 24px);
    max-width: none;
  }
    .categories-cards a.card.single-line{
    padding-top: 50px;

  }

}

@media screen and (min-width: 1440px) {
  .categories-cards a.card {
    max-width: 280px;
  }
}
