@import url(style.css);

.contato-hero {
  height: 460px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/contato/hero-contato-mobile.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

/* --- FORMULÁRIO DE CONTATO --- */
.contato-form {
  max-width: 1200px;
}

.form-description {
  text-align: center;
  font-size: 14px;
  line-height: 1.6;
  color: #444;
  margin-bottom: 40px;
}

.main-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: var(--title-weight);
  color: var(--text-primary-color);
  font-size: 20px;
  margin-bottom: 8px;
}

.form-group input {
  border: none;
  border-top: 1px solid #ccc;
  padding: 8px 0;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-top: 2px solid var(--secondary-color, #b21c1c);
}

.form-group textarea {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  font-family: inherit;
  resize: none;
  outline: none;
}

.form-group textarea:focus {
  border-color: var(--secondary-color, #b21c1c);
}

.contato-footer-img {
  background-image: url("../img/contato/hero-footer-contato-mobile.jpg");
}

@media screen and (min-width: 768px) {
  .contato-hero {
    height: 620px;
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/contato/hero-contato-tablet.jpg");
  }
  .hero-content {
    width: 656px;
  }
  .hero-title {
    font-size: 56px;
  }

  .contato-form .button {
    width: 280px;
    margin: 0 auto;
  }

  .contato-footer-img {
    background-image: url("../img/contato/hero-footer-contato-tablet.jpg");
  }
}

@media screen and (min-width: 1024px) {
  .contato-hero {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/contato/hero-contato-desktop.jpg");
  }

  .hero-content {
    width: 900px;
  }

  .hero-title {
    font-size: 48px;
    width: 443px;
  }

  .hero-description {
    font-size: 32px;
    width: 579px;
  }

  .contato-footer-img {
    background-image: url("../img/contato/hero-footer-contato-desktop.jpg");
  }
}
