@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --background-primary-color: #fff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000;

  --text-primary-color: #222;
  --text-secondary-color: #fff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: var(--secondary-color);
    color: white;
    padding: 8px;
    z-index: 100;
    transition: top 0.3s;
    text-decoration: none;
}

.skip-link:focus {
    top: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-primary-color);
}

section {
  width: 312px;
  margin: 0 auto 88px;
}

section.hero {
  width: 100%;
  margin: 0;
}

.section-title {
  width: 280px;
  margin: 0 auto 32px;
}

.content-title {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin:0 0 24px;
}

.content-text {
  font-size: 20px;
  line-height: 32px;
  font-weight: var(--text-weight);
}

.section-title h2 {
  text-align: center;
  margin: 0;
  font-size: 28px;
  font-weight: var(--title-weight);
}

.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px auto 32px auto;
}

.button {
  display: inline-block;
  background-color: var(--secondary-color);
  color: var(--text-secondary-color);
  border: none;
  text-decoration: none;
  line-height: 64px;
  min-width: 280px;
  height: 64px;
  border-radius: 16px;
  font-size: 20px;
  font-weight: var(--text-weight);
  text-align: center;
}

@media screen and (min-width: 768px) {
  section {
    width: 656px;
  }

  .section-title {
    width: 100%;
    margin: 0 auto 32px;
  }

  .section-title h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  section {
    width: 900px;
  }

  .button:hover {
    background-color: var(--primary-color);
  }
}

@media screen and (min-width: 1440px) {
  section {
    width: 1200px;
  }
}
