@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --background-primary-color: #fff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000;

  --text-primary-color: #222;
  --text-secondary-color: #fff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-primary-color);

}

.section-title h2 {
  text-align: center;
  margin: 0;
  font-size: 28px;
  font-weight: var(--title-weight);
}

.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px auto 32px auto;
}

.button {
  display: inline-block;
  background-color: var(--secondary-color);
  color: var(--text-secondary-color);
  border: none;
  text-decoration: none;
  line-height: 64px;
  width: 280px;
  height: 64px;
  border-radius: 16px;
  font-size: 20px;
  font-weight: var(--text-weight);
}

@media screen and (min-width: 768px) {
  .section-title h2 {
    font-size: 32px;
  }

}

@media screen and (min-width: 1024px) {
  .button:hover {
    background-color: var(--primary-color);
  }
}