.main-header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.img-mobile {
  display: block;
}

.img-desktop {
  display: none;
}

.navigation-menu {
  margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
}

nav {
  display: none;
}

.list-links {
  list-style: none;
}

.list-links li {
  margin: 16px 0;
}

.list-links li a {
  text-decoration: none;
  color: var(--text-secondary-color);
  font-weight: var(--menu-text-weight);
  font-size: 24px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease
}

.list-links li a:hover,
.list-links li a.active-page:hover {
    border-bottom-color: var(--secondary-color);
}

.list-links li a.active-page {
  
    border-bottom-color: var(--text-secondary-color);
    font-weight: var(--menu-text-weight);
}


@media screen and (min-width: 768px) {
  .navigation-menu {
    margin-top: 0;
    width: 467px;
  }

  .navigation-menu label {
    display: none;
  }

  .navigation-menu nav {
    display: block;
  }

  .navigation-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .main-header {
    padding: 38px 120px;
  }
  .logo {
    width: 260px;
    height: 64px;
  }

  .img-mobile {
    display: none;
  }
  .img-desktop {
    display: block;
  }

  .navigation-menu a:hover {
    color: var(--primary-color);
  }
}

@media screen and (min-width: 1920px) {
  .main-header {
    padding: 38px 160px;
  }
}
