.hero-img {
  width: 100%;
  height: 400px;
  background: url("../img/hero-mobile.jpg") no-repeat;
  background-size: cover;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0 auto;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

.hero-img-pre-footer {
  background-image: url("../img/hero-footer-mobile.jpg");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .hero-img {
    width: 100%;
    height: 620px;
    background: url("../img/hero-tablet.jpg") no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }

  .hero-img-pre-footer {
    background-image: url("../img/hero-footer-tablet.jpg");
    width: 100%;
    height: 400px;
    background-size: cover;
  }
}

@media (min-width: 1024px) {
  .hero-img {
    background: url("../img/hero-desktop.jpg") no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 120px;
  }

  .hero-img-pre-footer {
    background-image: url("../img/hero-footer-desktop.jpg");
    width: 100%;
    height: 600px;
    background-size: cover;
  }
}

@media (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
}
