.hero-img,
.bottom-hero-img {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-img {
  background-image: url("../img/hero-mobile.jpg");
}

.bottom-hero-img {
  background-image: url("../img/hero-footer-mobile.jpg");
}
.footer-content img {
  background-color: black;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0 auto;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .hero-img {
    background-image: url("../img/hero-tablet.jpg");
  }

  .bottom-hero-img {
    background-image: url("../img/hero-footer-tablet.jpg");
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }
}

@media (min-width: 1024px) {
  .hero-img {
    background-image: url("../img/hero-desktop.jpg");
  }

  .bottom-hero-img {
    background-image: url("../img/hero-footer-desktop.jpg");
    height: 600px;
  }

  .hero h2 {
    padding: 88px 120px;
  }
}

@media (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
}
