.hero-img {
    width: 100%;
    height: 400px;
    background: url("../img/hero-mobile.jpg") no-repeat;
    background-size: cover;
}

@media (min-width: 768px) {
    .hero-img {
    width: 100%;
    height: 620px;
    background: url("../img/hero-tablet.jpg") no-repeat;
    background-size: cover;
}
}

@media (min-width: 1024px) {
    .hero-img {
    width: 100%;
    height: 620px;
    background: url("../img/hero-desktop.jpg") no-repeat;
    background-size: cover;
}
}

