@import url(style.css);

.pacotes-hero {
  height: 460px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/pacotes/hero-pacotes-mobile.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.pacotes-footer-img {
  background-image: url("../img/pacotes/hero-footer-pct-mobile.jpg");
}

@media screen and (min-width: 768px) {
  .pacotes-hero {
    height: 620px;
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/pacotes/hero-pacotes-tablet.jpg");
  }
  .hero-content {
    width: 656px;
  }
  .hero-title {
    font-size: 56px;
  }

  .pacotes-footer-img {
    background-image: url("../img/pacotes/hero-footer-pct-tablet.jpg");
  }
}

@media screen and (min-width: 1024px) {
  .pacotes-hero {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/pacotes/hero-pacotes-desktop.jpg");
  }

  .hero-content {
    width: 900px;
  }

  .hero-title {
    font-size: 48px;
    width: 443px;
  }

  .hero-description {
    font-size: 32px;
    width: 579px;
  }

  .pacotes-footer-img {
    background-image: url("../img/pacotes/hero-footer-pct-desktop.jpg");
  }
}
