.image-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-top: 24px;
  width: 312px;
  height: 460px;
}

.image-content .image {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image.bag,
.image.passport,
.image.japao,
.image.japao2 {
  height: 254px;
}

.image.people,
.image.japao3 {
  grid-column: span 2;
  height: 182px;
}

.image-content .image.bag {
  background-image: url("../img/img-bag-mobile.jpg");
}

.image-content .image.passport {
  background-image: url("../img/img-passport-mobile.jpg");
}

.image-content .image.people {
  background-image: url("../img/img-people-mobile.jpg");
}

.image-content .image.japao {
  background-image: url("../img/pacotes/japao-pacote-mobile.jpg");
}

.image-content .image.japao2 {
  background-image: url("../img/pacotes/japao2-pacote-mobile.jpg");
}
.image-content .image.japao3 {
  background-image: url("../img/pacotes/japao3-pacote-mobile.jpg");
}

@media screen and (min-width: 768px) {
  .image-content {
    width: 648px;
    height: 460px;
    margin: 32px auto 0;
  }

  .image.bag,
  .image.passport,
  .image.japao,
  .image.japao2 {
    height: 254px;
    width: 312px;
  }

  .image.people,
  .image.japao3 {
    height: 182px;
    background-position: bottom center;
  }

  .image-content .image.bag {
    background-image: url("../img/img-bag-tablet.jpg");
  }
  .image-content .image.passport {
    background-image: url("../img/img-passport-tablet.jpg");
  }
  .image-content .image.people {
    background-image: url("../img/img-people-tablet.jpg");
  }

  .image-content .image.japao {
    background-image: url("../img/pacotes/japao-pacote-tablet.jpg");
  }

  .image-content .image.japao2 {
    background-image: url("../img/pacotes/japao2-pacote-tablet.jpg");
  }
  .image-content .image.japao3 {
    background-image: url("../img/pacotes/japao3-pacote-tablet.jpg");
  }
}

@media screen and (min-width: 1024px) {
  .payments {
    display: grid;
    grid-template-columns: 1fr 2.05fr;
    column-gap: 23px;
    align-items: start;
  }

  .payments .section-title {
    grid-column: span 2;
    text-align: center;
    width: 100%;
    margin: 0;
  }

  .payments .text-content {
    grid-column: 1;
    text-align: left;
  }

  .image-content {
    grid-column: 2;
    width: 100%;
    height: 460px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  .image-content .image {
    width: 100%;
  }

  .image.bag,
  .image.passport,
  .image.japao,
  .image.japao2 {
    height: 254px;
  }

  .image.people,
  .image.japao3 {
    grid-column: span 2;
    height: 182px;
    background-position: bottom center;
  }

  .image-content .image.bag {
    background-image: url("../img/img-bag-desktop.jpg");
  }
  .image-content .image.passport {
    background-image: url("../img/img-passport-desktop.jpg");
  }
  .image-content .image.people {
    background-image: url("../img/img-people-desktop.jpg");
  }

  .image-content .image.japao {
    background-image: url("../img/pacotes/japao-pacote-desktop.jpg");
  }

  .image-content .image.japao2 {
    background-image: url("../img/pacotes/japao2-pacote-desktop.jpg");
  }
  .image-content .image.japao3 {
    background-image: url("../img/pacotes/japao3-pacote-desktop.jpg");
  }
}
