:root {
    --background-primary-color: #fff;
    --background-secondary-color: #f5f5f5;
    --background-tertiary-color: #000;

    --button-primary-color: #8f0101;
    --button-secondary-color: #b81515;

    --text-primary-color: #222;
    --text-secondary-color: #fff;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

